name: Build and Release PYNQ Manager

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:

  build-windows:
    runs-on: windows-latest
    outputs:
      artifact-name: windows-build

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller pyserial paramiko

      - name: Build Windows EXE
        run: |
          pyinstaller --clean --onefile --windowed pynq_manager_gui.py
          mkdir release
          move dist\pynq_manager_gui.exe release\pynq-manager-windows.exe

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: release/

  build-linux:
    runs-on: ubuntu-latest
    outputs:
      artifact-name: linux-build

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip
          pip install pyinstaller pyserial paramiko

      - name: Build Linux Binary
        run: |
          pyinstaller --clean --onefile pynq_manager_gui.py
          mkdir release
          mv dist/pynq_manager_gui release/pynq-manager-linux

      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: release/

  release:
    needs: [build-windows, build-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: windows-build
          path: ./release

      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: linux-build
          path: ./release

      - name: Show downloaded files
        run: ls -R ./release

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
